<div class="w-full mx-auto max-w-sm mb-2">
  <div class="text-arancione font-bold">3 di 3</div>
  <progress class="w-full h-2 rounded-full overflow-hidden bg-pesca" value="100" max="100">
    <!-- Valore alternativo in caso di mancato supporto -->
    100%
  </progress>

  <div
    class="map-wrapper"
    style="width: 100%; height: 331px; border: 1px solid #000; overflow: hidden; margin-left: auto; margin-right: auto; position: relative;">
    <div class="map-container" #map style="width: 100%; height: 100%;"></div>
  </div>

  <form class="space-y-4 md:space-y-6 mt-4" [formGroup]="step3Form" (ngSubmit)="handleStep3Form()">
    <div class="mb-4">
      <label class="block text-arancione font-bold mb-2" for="indirizzo">
        Indirizzo
      </label>

      <input type="text" formControlName="indirizzo" id="indirizzo" (input)="onInputChange()"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg block w-full p-2.5"
        placeholder="Indirizzo" required="" autocomplete="off">
    
      @if(suggestions.length > 0){
        <ul (click)="onContainerClick($event)" id="suggestion-list" class=" bg-white border border-gray-300 rounded-lg shadow-md w-full mt-1 z-10">
          @for (suggestion of suggestions; track $index) {
            <li (click)="selectSuggestion(suggestion)" class="cursor-pointer hover:bg-gray-100 px-4 py-2 text-gray-700">
              {{ suggestion.properties.formatted }}
            </li>
          }
        </ul>
      }
    </div>

    <div class="flex justify-between">
      <button type="button" (click)="backStep();" class="text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-6 py-2 text-center text-lg">
        Indietro
      </button>
      <button type="submit" class="text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-6 py-2 text-center text-lg">
        Continua 
      </button>
    </div>
  </form>
</div>
