<h1 class="text-xl font-semibold text-center">Seleziona una data</h1>

<div class="w-full flex space-x-2 px-2 h-1/2 mt-2">
    @for (day of this.visibleDays; track $index) {
        <div class="flex-1 bg-verdeScuro hover:bg-arancione cursor-pointer p-4 text-white text-center">
            <!-- Usare l'indice globale corretto -->
            <p class="font-bold">
                {{ this.weatherData?.daily?.time?.[startIndex + $index] }}
            </p>

            <div class="flex justify-center mt-2">
                <img [src]="getUrlIcon(startIndex + $index)" alt="icona meteo" class="mt-2 mb-2" />
            </div>

            <p class="font-semibold mt-4">
                Max {{ this.weatherData?.daily?.temperature_2m_max?.[startIndex + $index] }}
                {{ this.weatherData?.daily_units?.temperature_2m_max }} / 
                {{ this.weatherData?.daily?.temperature_2m_min?.[startIndex + $index] }}
                {{ this.weatherData?.daily_units?.temperature_2m_min }} min
            </p>

            <p class="font-semibold mt-2">
                Probabilità pioggia {{ this.weatherData?.daily?.precipitation_probability_max?.[startIndex + $index] }}
                {{ this.weatherData?.daily_units?.precipitation_probability_max }}
            </p>

            <p class="font-semibold mt-2 mb-4">
                Quantità pioggia {{ this.weatherData?.daily?.precipitation_sum?.[startIndex + $index] }}
                {{ this.weatherData?.daily_units?.precipitation_sum }}
            </p>
        </div>
    }
</div>

<!-- Pulsanti per navigare -->
<div class="flex justify-between mt-4">
    <button 
        class="bg-gray-400 hover:bg-gray-500 text-white py-2 px-4 rounded"
        (click)="prevPage()"
        [disabled]="startIndex === 0"
    >
        Precedente
    </button>
    
    <button 
        class="bg-gray-400 hover:bg-gray-500 text-white py-2 px-4 rounded"
        (click)="nextPage()"
        [disabled]="startIndex + 7 >= fullDayList.length"
    >
        Successivo
    </button>
</div>