<section class="h-full">
    <h1 class="text-5xl font-semibold ml-2 mt-2">Benvenuto/a in DietiEstates</h1>
    <h2 class="text-2xl font-semibold ml-2 mt-2">DietiEstates25: la piattaforma smart per trovare, visitare e scegliere la tua prossima 
        casa con facilità e sicurezza!</h2>
    
    <p class="text-lg ml-2 mt-4"><b class="font-bold">Visualizza le inserzioni immobiliari:</b> 
        foto, descrizione, prezzo, dimensioni, posizione, e tatnte altre informaziomi degli immobili disponibili.</p>
    <p class="text-lg ml-2 mt-2"><b class="font-bold">Effettua ricerche avanzate:</b> 
        filtra gli immobili in base a: Tipologia di inserzione (vendita/affitto); Prezzo minimo e massimo; Numero di stanze, piano, 
        classe energetica, e altri servizi disponibili; Posizione geografica (comune/città), oppure usa la nostra mappa interattiva.</p>
    <p class="text-lg ml-2 mt-2"><b class="font-bold">Prenota visite:</b> 
        per un'immobile in una data e orario disponibile, visualizzando le previsioni del meteo.</p>
    <p class="text-lg ml-2 mt-2"><b class="font-bold">Interagisci con gli agenti immobiliari:</b> 
        ricevendo notifiche/email e comunicando per ulteriori informazioni sull'immobile o per finalizzare i dettagli delle visite.</p>
    <p class="text-lg ml-2 mt-2"><b class="font-bold">Offerte e transizioni:</b> 
        fai offerte per acquistare o affittare un'immobile.</p>
    
    <div class="flex gap-x-6 mr-6 ml-6 mt-20">
        <button type="button" routerLink="/ricerca"
            class="w-full text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-5 py-2.5 text-center text-lg">Ricerca Immobile</button>
        <button type="button" routerLink="/registra-agenzia"
            class="w-full text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-5 py-2.5 text-center text-lg">Registra Agenzia</button>
        <button type="button" routerLink="/login"
            class="w-full text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-5 py-2.5 text-center text-lg">Login</button>
        <button type="button" routerLink="/signup"
            class="w-full text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-5 py-2.5 text-center text-lg">Signup</button>
    </div>
</section>

