<section class="h-full">
    <div class="w-full mx-auto max-w-sm">
        <form class="space-y-4 md:space-y-6 mt-4" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
            <div class="mb-4">
                <label class="block text-arancione font-bold mb-2" for="user">
                    Username
                </label>

                <input type="text" formControlName="user" id="user"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg block w-full p-2.5"
                    placeholder="Username" required="">
                @if(submitted && loginForm.controls.user.errors){
                @if(loginForm.controls.user.errors['required']){
                <p class="form-error">Inserire l'username.</p>
                }
                }
            </div>
            <div class="mb-6">
                <label class="block text-arancione font-bold mb-2" for="pass">
                    Password
                </label>

                <input type="password" formControlName="pass" id="pass" placeholder="••••••••"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg block w-full p-2.5"
                    required="">
                @if(submitted && loginForm.controls.pass.errors){
                @if(loginForm.controls.pass.errors['required']){
                <p class="form-error">Inserire la password.</p>
                }

                @if(loginForm.controls.pass.errors['minlength']){
                <p class="form-error">La password deve contenere almeno 4 caratteri</p>
                }
                }
            </div>

            <button type="submit"
            class="w-full text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-5 py-2.5 text-center text-lg">Login</button>

            <p class="font-medium  text-base text-grigio">
                Non sei ancora registrato? <a routerLink="/signup" class="link" class="text-arancione font-bold mb-2 hover:text-pesca"><u>Sign up</u></a>
            </p>
            <p class="font-medium text-base text-grigio ">
                Vuoi registrare la tua agenzia immobiliare? <a routerLink="" class="link " class="text-arancione font-bold mb-2 hover:text-pesca"><u>Registra agenzia</u></a>
            </p>
        </form>
    </div>
</section>
