<!--<div class="w-1/2 h-screen/2 bg-blue-500 flex flex-col">
    <img src={{this.annuncioItem?.immagini?.[0]?.url}} class="flex-1 w-full object-cover"/>
    <img src={{this.annuncioItem?.immagini?.[1]?.url}} class="flex-1 w-full object-cover"/>
    <img src={{this.annuncioItem?.immagini?.[2]?.url}} class="flex-1 w-full object-cover"/>
</div>-->

<div class="relative">
    <!-- Carosello -->
    <div class="overflow-hidden">
      <div class="flex transition-transform duration-500" id="carousel">
        <div class="w-full flex-shrink-0">
          <img src={{this.annuncioItem?.immagini?.[0]?.url}} alt="Prodotto 1" class="w-full object-cover">
        </div>
        <div class="w-full flex-shrink-0">
          <img src={{this.annuncioItem?.immagini?.[1]?.url}} alt="Prodotto 2" class="w-full object-cover">
        </div>
        <div class="w-full flex-shrink-0">
          <img src={{this.annuncioItem?.immagini?.[2]?.url}} alt="Prodotto 3" class="w-full object-cover">
        </div>
        <div class="w-full flex-shrink-0">
          <img src={{this.annuncioItem?.immagini?.[3]?.url}} alt="Prodotto 4" class="w-full object-cover">
        </div>
      </div>
    </div>
  
    <!-- Punteggiatori (Navigazione) -->
    <button class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-white text-black px-4 py-2 rounded-full" onclick="moveSlide(-1)">❮</button>
    <button class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-white text-black px-4 py-2 rounded-full" onclick="moveSlide(1)">❯</button>
  </div>


<p class="font-bold">Descrzione</p> 
<p>{{annuncioItem?.descrizione}}</p>
<p class="font-bold">Indirizzo: {{annuncioItem?.indirizzo}}</p>
<p class="font-extrabold">Prezzo: € {{annuncioItem?.prezzo}}</p>

<div class="flex items-center space-x-2 mt-2 ml-2">
    <img ngSrc="dimensioni.png" alt="Dimensioni: " width="40" height="40" />
    <p>Dimensioni: {{annuncioItem?.dimensioni}}</p>
</div>
<div class="flex items-center space-x-2 mt-2 ml-2">
    <img ngSrc="numeroStanze.png" alt="Numero Stanze: " width="40" height="40">
    <p>Numero Stanze: {{annuncioItem?.numeroStanze}}</p>
</div>
<div class="flex items-center space-x-2 mt-2 ml-2">
    <img ngSrc="piano.png" alt="Piano: " width="40" height="40">
    <p>Piano: {{annuncioItem?.piano}}</p>
</div>
<div class="flex items-center space-x-2 mt-2 ml-2">
    <img ngSrc="classeEnergetica.png" alt="Classe Energetica: " width="40" height="40">
    <p>Classe Energetica: {{annuncioItem?.classeEnergetica}}</p>
</div>
<div class="flex items-center space-x-2 mt-2 ml-2">
    <img ngSrc="ascensore.png" alt="Ascensore: " width="40" height="40" />
    @if(annuncioItem?.ascensore){
        <img ngSrc="si.png" alt="SI" width="16" height="16">
    } @else {
        <img ngSrc="no.png" alt="NO" width="16" height="16">
    }
</div>

@for(s of servizi; track s.nome){
    <div class="flex items-center space-x-2 mt-2 ml-2">
        <img ngSrc={{s.nomeFile}} alt={{s.nome}} width="40" height="40" />
        @if(s.valore == "true"){
            <img ngSrc="si.png" alt="SI" width="16" height="16">
        }@else {
            <img ngSrc="no.png" alt="NO" width="16" height="16">
        }
    </div>
}
