
@if(!deleted){
    <div class="mb-4 p-2 mt-2 bg-white rounded-xl shadow-lg">
        <p>{{this.notificaItem.ClienteUsername}} ha richiesto un appuntamento il {{this.notificaItem.data | date:'YYYY-MM-dd'}} alle 
            ore {{this.notificaItem.data | date:'HH:mm'}} per l'immobile a {{this.notificaItem.Annuncio.indirizzo}}</p>
        
            @if(this.notificaItem.offerta){
            <p>Offerta: €{{this.notificaItem.offerta}}</p>
        }
        <br>
        @if(this.notificaItem.stato=="accettata"){
            <p class="text-arancione text-lg font-bold">Richiesta accettata!</p>
        } @else if(this.notificaItem.stato=="rifiutata"){
            <p class="text-arancione text-lg font-bold">Richiesta rifiutata!</p>
        } @else {
            <button (click)="changeState('accettata')" class="text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-6 py-2 text-center text-md mr-2">Accetta</button>
            <button (click)="changeState('rifiutata')" class="text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-6 py-2 text-center text-md">Rifiuta</button>
        }
    </div>
}

    
