<section class="h-full">
    <app-form-step1></app-form-step1>
    <div class="w-full mx-auto max-w-sm mb-2 flex justify-between">
        <button type="button" class="text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-6 py-2 text-center text-lg">
          Indietro
        </button>
        <button type="submit" class="text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-6 py-2 text-center text-lg">
          Continua
        </button>
    </div>
</section>
  