progress::-webkit-progress-bar {
    background-color: #FFD5C2; 
  }

progress::-webkit-progress-value {
    background-color: #F28F3B;
  }

  /*progress::-moz-progress-bar {
    background-color: #f97316; / Riempimento per Firefox (arancione) /
    border-radius: 9999px; / Arrotondamento 
  }*/