<section class="h-full">
    <div class="w-full mx-auto max-w-sm">
        <form class="space-y-4 md:space-y-6 mt-4" [formGroup]="nuovaAgenziaForm" (ngSubmit)="handleNuovaAgenzia()">
            <div class="mb-4">
                <label for="user" class="block text-arancione font-bold mb-2">Username</label>

                <input type="text" formControlName="username" id="username"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg block w-full p-2.5"
                    placeholder="Username" required="">

                @if(submitted && nuovaAgenziaForm.controls.username.errors){
                @if(nuovaAgenziaForm.controls.username.errors['required']){
                <p class="form-error">Scegliere un Username.</p>
                }
                }
            </div>
            
            <p class="font-medium text-grigio text-base"> 
                Inserire le informazioni dell'agenzia: 
            </p>

            <div class="mb-4">
                <label for="user" class="block text-arancione font-bold mb-2">Email</label>

                <input type="text" formControlName="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg block w-full p-2.5"
                    placeholder="Email" required="">

                @if(submitted && nuovaAgenziaForm.controls.email.errors){
                @if(nuovaAgenziaForm.controls.email.errors['required']){
                <p class="form-error">Inserire l'indirizzo mail.</p>
                }
                }
            </div>
            <div class="mb-4">
                <label for="user" class="block text-arancione font-bold mb-2">Nome</label>

                <input type="text" formControlName="nomeAgenzia" id="nomeAgenzia"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg block w-full p-2.5"
                    placeholder="Nome Agenzia" required="">

                @if(submitted && nuovaAgenziaForm.controls.nomeAgenzia.errors){
                @if(nuovaAgenziaForm.controls.nomeAgenzia.errors['required']){
                <p class="form-error">Inserire il nome dell'agenzia.</p>
                }
                }
            </div>
            <div class="mb-4">
                <label for="user" class="block text-arancione font-bold mb-2">Indirizzo</label>

                <input type="text" formControlName="indirizzoAgenzia" id="indirizzoAgenzia"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg block w-full p-2.5"
                    placeholder="Indirizzo Agenzia" required="">

                @if(submitted && nuovaAgenziaForm.controls.indirizzoAgenzia.errors){
                @if(nuovaAgenziaForm.controls.indirizzoAgenzia.errors['required']){
                <p class="form-error">Inserire l'indirizzo dell'agenzia.</p>
                }
                }
            </div>
            <button type="submit"
                class="w-full text-white bg-arancione hover:bg-pesca hover:text-arancione rounded-lg font-semibold px-5 py-2.5 text-center text-lg">Sign in</button>
            <p class="font-medium text-grigio text-base"> 
                Sei già registrato? <a routerLink="/login" class="link" class="text-arancione font-bold mb-2 hover:text-pesca"><u>Login</u></a>
            </p>
        </form>
    </div>

    <div class="{{showNewCredentials ? 'block' : 'hidden'}} fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white rounded-lg p-6 w-96 text-center">
            <h2 class="text-lg font-bold text-arancione mb-4">Puoi accedere al tuo nuovo profilo con le seguenti credenziali</h2>
            <p class="text-gray-800 text-base mb-4">Username: {{ this.nuovaAgenziaForm.get("username") }}</p>
            <p class="text-gray-800 text-base mb-4">Password: {{ this.newGeneratedPassword }}</p>
            <h2 class="text-lg font-bold text-arancione mb-4">Bisogna cambiare password al primo acccesso</h2>
            <!--<button class="bg-arancione text-white px-4 py-2 rounded-lg hover:bg-pesca" (click)="closePopup()">Accedi</button>-->
            <button class="bg-arancione text-white px-4 py-2 rounded-lg hover:bg-pesca">Accedi</button>
        </div>
    </div>

</section>
