<div>
    <p>Descriziome: {{annuncioItem.descrizione}}</p>
    <p>Prezzo: {{annuncioItem.prezzo}}</p>
    <p>Dimensioni: {{annuncioItem.dimensioni}}</p>
    <p>indirizzo: {{annuncioItem.indirizzo}}</p>
    <p>stanze: {{annuncioItem.nStanza}}</p>
    <p>piano: {{annuncioItem.piano}}</p>
    <p>claase energetica: {{annuncioItem.classeEnergetica}}</p>
    <p>ascensore: {{annuncioItem}}</p>
    <p>servizi: {{annuncioItem.altriServizi}}</p>
    <p>categora: {{annuncioItem.categoria}}</p>
    <br>
</div>
