<nav class="bg-bluScuro border-b-2 border-arancione p-3">
    <div class="container mx-auto flex justify-between flex-wrap">
        <a routerLink={{this.setRouter()}} class="flex items-center space-x-3 rtl:space-x-reverse flex-grow">
            <span
                class="self-center text-xl text-white font-bold whitespace-nowrap lg:text-2xl xl:text-xl">DietiEstates</span>
        </a>
        <button (click)="toggle()" data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-1 w-7 h-7 justify-center text-sm text-white md:hidden hover:text-pesca focus:outline-none mx-2"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="{{isOpen ? 'block' : 'hidden'}} w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-semibold flex flex-col md:flex-row p-0 mt-0 bg-bluScuro border-0 md:items-center md:space-x-8">

                @if(! this.authService.isUserAuthenticated()){
                    <li class="flex">
                        <a (click)="handleNavigationClick()" routerLink="/ricerca"
                            routerLinkActive="md:text-pesca"
                            class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Ricerca Immobile</a>
                    </li>
                    <li class="flex">
                        <a (click)="handleNavigationClick()" routerLink="/registra-agenzia"
                            routerLinkActive="md:text-pesca"
                            class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Registra Agenzia</a>
                    </li>
                    <li class="flex">
                        <a (click)="handleNavigationClick()" routerLink="/login"
                            routerLinkActive="md:text-pesca"
                            class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Login</a>
                    </li>
                    <li class="flex">
                        <a (click)="handleNavigationClick()" routerLink="/signup"
                            routerLinkActive="md:text-pesca"
                            class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Sign up</a>
                    </li>
                } @else {
                    @if(this.authService.isUserGestoreAgenzia()){
                        <li>
                            <a (click)="handleNavigationClick()" routerLink="/nuovoCollaboratore"
                                routerLinkActive="hover:text-[#FFD5C2] md:text-pesca"
                                class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Cambia Password</a>
                        </li>
                    }
                    @if(this.authService.isUserAgenteImmobiliare()){
                        <li>
                            <a (click)="handleNavigationClick()" routerLink="/nuovoImmobile"
                                routerLinkActive="hover:text-[#FFD5C2] md:text-pesca"
                                class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Aggiungi immobile</a>
                        </li>
                        <li>
                            <a (click)="handleNavigationClick()" routerLink="/notifiche"
                                routerLinkActive="hover:text-[#FFD5C2] md:text-pesca"
                                class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Notifica</a>
                        </li>
                    }
                    @if(this.authService.isUserCliente()){
                        <li>
                            <a (click)="handleNavigationClick()" routerLink="/ricerca"
                                routerLinkActive="hover:text-[#FFD5C2] md:text-pesca"
                                class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Ricerca immobile</a>
                        </li>
                        <li>
                            <a (click)="handleNavigationClick()" routerLink="/notifiche"
                                routerLinkActive="hover:text-[#FFD5C2] md:text-pesca"
                                class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Notifica</a>
                        </li>
                    }

                    <li>
                        <a (click)="handleNavigationClick()" routerLink="/logout"
                            routerLinkActive="hover:text-[#FFD5C2] md:text-pesca"
                            class="block py-2 px-3 text-white hover:text-pesca bg-bluScuro">Logout</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
